body{
  margin: 0;
  padding: 0;
}
nav {
  background-color: rgb(133, 34, 50);
  padding: 1.25rem 2rem;
}

.nav-center{
  max-width: var(--fixed-width);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav h3{
  margin-bottom: 0;
  color: white;
}

.nav-container{
  display: block;
  position: relative;
}
.amount-container{
  position: absolute;
  top: -0.85rem;
  right: 0.85rem;
  width: 1.77rem;
  height: 1.77rem;
  border-radius: 50%;
  background-color: rgb(91, 16, 28);
  display: flex;
  align-items: center;
  justify-content: center;

}